<p>¡Participa y descubre las ventajas del Software LIbre!</p>

<p>&nbsp;</p>

<h3>Sábado, 8 de mayo</h3>

<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Horario</th>
			<th scope="col">Tema</th>
			<th scope="col">Expositor</th>
			<th scope="col">Tipo</th>
			<th scope="col">Ciudad - País</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">8:45</th>
			<td colspan="4">Apertura</td>
		</tr>
		<tr>
			<th scope="row">9:00</th>
			<td>Más allá del acceso: en busca de la ciudadanía digital (pandémica)</td>
			<td>Daniel Vizuete</td>
			<td>Charla</td>
			<td>Quito, Ecuador</td>
		</tr>
		<tr>
			<th scope="row">9:35</th>
			<td>Maemo Leste /Postmarketos</td>
			<td>Leonardo Gomez</td>
			<td>Charla</td>
			<td>Cuenca, Ecuador</td>
		</tr>
		<tr>
			<th scope="row">10:10</th>
			<td>Python otro camino por conocer</td>
			<td>Pedro Luis Romero González</td>
			<td>Charla</td>
			<td>Quito, Ecuador</td>
		</tr>
		<tr>
			<th scope="row">10:45</th>
			<td>Implementa una aplicación web en contenedor</td>
			<td>Maureen Flor Barahona Alvarado</td>
			<td>Taller</td>
			<td>Tegucigalpa, Honduras</td>
		</tr>
		<tr>
			<th scope="row">11:50</th>
			<td>El conocimiento perdido de Ecuador</td>
			<td>Edgar José Rosero Villacís</td>
			<td>Charla</td>
			<td>Guayaquil, Ecuador</td>
		</tr>
		<tr>
			<th scope="row">12:25</th>
			<td>Incorporación de un Sistema Operativo (SO) bajo estándares abiertos como herramienta tecnológica en el sistema educativo venezolano</td>
			<td>José Valentín Rodríguez Gaspar</td>
			<td>Charla</td>
			<td>Guanare, Venezuela</td>
		</tr>
		<tr class="table-warning">
			<th scope="row">12:55</th>
			<td colspan="4">Almuerzo</td>
		</tr>
		<tr>
			<th scope="row">14:00</th>
			<td>Open Source no es gratis</td>
			<td>Santos Gallegos</td>
			<td>Charla</td>
			<td>Cuenca, Ecuador</td>
		</tr>
		<tr>
			<th scope="row">14:35</th>
			<td>OnlyOffice - Su nueva suite de Oficina</td>
			<td>Klaibson Natal Ribeiro Borges</td>
			<td>Charla</td>
			<td>Embu das Artes, Brasil</td>
		</tr>
		<tr>
			<th scope="row">15:10</th>
			<td>Educación en Ecuador: ¿Por qué aún Wikipedia es tan relegada?<br />
			Herramientas Tecnologicas – Wawalaptop</td>
			<td>Edgar José Rosero Villacís<br />
			Javier Carrasco</td>
			<td>Panel</td>
			<td>Guayaquil, Ecuador<br />
			Lima, Perú</td>
		</tr>
		<tr>
			<th scope="row">16:15</th>
			<td>Crea tu primera factura electrónica con Verónica Open API</td>
			<td>Francisco Israel Teneda Gallardo</td>
			<td>Charla</td>
			<td>Latacunga, Ecuador</td>
		</tr>
		<tr>
			<th scope="row">16:50</th>
			<td>Software Libre para empresarios</td>
			<td>Alex Aconda</td>
			<td>Charla</td>
			<td>Quito, Ecuador</td>
		</tr>
		<tr>
			<th scope="row">17:25</th>
			<td>CoyIM cliente de Chat Seguro mediante Tor y OTR</td>
			<td>Sandy Acurio</td>
			<td>Charla</td>
			<td>Quito, Ecuador</td>
		</tr>
	</tbody>
</table>

<h3>Sábado, 15 de mayo</h3>

<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Horario</th>
			<th scope="col">Tema</th>
			<th scope="col">Expositor</th>
			<th scope="col">Tipo</th>
			<th scope="col">Ciudad - País</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">9:00</th>
			<td>Radios Definidas por Software: Historia y demostración de su uso</td>
			<td>Daniel Alejandro Rodriguez Suarez</td>
			<td>Charla</td>
			<td>Bogotá, Colombia</td>
		</tr>
		<tr>
			<th scope="row">9:35</th>
			<td>Modo Kernel - Creando mi primer modulo</td>
			<td>Steven Mera</td>
			<td>Taller</td>
			<td>Guayaquil, Ecuador</td>
		</tr>
		<tr>
			<th scope="row">10:40</th>
			<td>El extraño caso de pglogical y los puntos de venta</td>
			<td>Jaime Casanova</td>
			<td>Charla</td>
			<td>Guayaquil, Ecuador</td>
		</tr>
		<tr>
			<th scope="row">11:15</th>
			<td>El uso de python y R en los modelos epidemiológicos</td>
			<td>Nancy Leticia González Morales</td>
			<td>Charla</td>
			<td>Queretaro, México</td>
		</tr>
		<tr>
			<th scope="row">11:50</th>
			<td>Que es el entrenamiento distribuido y cómo puedo usarlo</td>
			<td>Kevin Farinango</td>
			<td>Charla</td>
			<td>Quito, Ecuador</td>
		</tr>
		<tr>
			<th scope="row">12:25</th>
			<td>Legalidad y comercio de criptomonedas en Ecuador</td>
			<td>Christian Leonardo Quezada Paida</td>
			<td>Charla</td>
			<td>Cuenca, Ecuador</td>
		</tr>
		<tr>
			<th scope="row">13:00</th>
			<td>El Internet de la Cosas necesita Tecnologías Abiertas</td>
			<td>Mario Fernando Albuja Saenz</td>
			<td>Charla</td>
			<td>Quito, Ecuador</td>
		</tr>
		<tr>
			<th scope="row">14:30</th>
			<td>Experiencias de FLISoL - Los orígenes (Temporada 2)</td>
			<td>Alejandro Forero</td>
			<td>Panel</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th scope="row">15:35</th>
			<td>Agenda abierta</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<p><a class="btn btn-primary" href="https://www.flisol.ec/">Regístrate</a></p>

